<p id="notice"><%= notice %></p>

<h1>Listing Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cnpj cpf</th>
      <th>Comissao a prazo</th>
      <th>Endereco</th>
      <th>Site</th>
      <th>Fone</th>
      <th>Celular</th>
      <th>Razao social</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nome %></td>
        <td><%= cliente.cnpj_cpf %></td>
        <td><%= cliente.comissao_a_prazo %></td>
        <td><%= cliente.endereco %></td>
        <td><%= cliente.site %></td>
        <td><%= cliente.fone %></td>
        <td><%= cliente.celular %></td>
        <td><%= cliente.razao_social %></td>
        <td><%= link_to 'Show', cliente %></td>
        <td><%= link_to 'Edit', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Destroy', cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cliente', new_cliente_path %>
