<p id="notice"><%= notice %></p>

<p>
  <strong>Id cliente:</strong>
  <%= @contas_pagar.id_cliente %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @contas_pagar.valor %>
</p>

<p>
  <strong>Data:</strong>
  <%= @contas_pagar.data %>
</p>

<p>
  <strong>Vencimento:</strong>
  <%= @contas_pagar.vencimento %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @contas_pagar.obs %>
</p>

<p>
  <strong>Data pago:</strong>
  <%= @contas_pagar.data_pago %>
</p>

<%= link_to 'Edit', edit_contas_pagar_path(@contas_pagar) %> |
<%= link_to 'Back', contas_pagar_index_path %>
