<p id="notice"><%= notice %></p>

<h1>Listing Contas Receberes</h1>

<table>
  <thead>
    <tr>
      <th>Id fornecedor</th>
      <th>Valor</th>
      <th>Data</th>
      <th>Vencimento</th>
      <th>Obs</th>
      <th>Data pago</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contas_receberes.each do |contas_receber| %>
      <tr>
        <td><%= contas_receber.id_fornecedor %></td>
        <td><%= contas_receber.valor %></td>
        <td><%= contas_receber.data %></td>
        <td><%= contas_receber.vencimento %></td>
        <td><%= contas_receber.obs %></td>
        <td><%= contas_receber.data_pago %></td>
        <td><%= link_to 'Show', contas_receber %></td>
        <td><%= link_to 'Edit', edit_contas_receber_path(contas_receber) %></td>
        <td><%= link_to 'Destroy', contas_receber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contas receber', new_contas_receber_path %>
